body{
    background-color: gray;
    background-image: url();
    6
}


/* id in css are denoted by # */
#color-red{
    text-align: center;
    color: red;
}


/* .is used to denoate the classes in css */
/* .color-red{
    color: red;
}

.background-blue{
    background: blue;
} */

